/*import font from googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Clear any existing padding & margin from browser*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10vh;
    text-align: center;
    font-family: Roboto, comic-sans;
}

/*Create Line break rule*/
.hr{
    max-width: 60%;
    align-items: center;
    color: black;
}

/*Navigation Bar content, Logo & Links*/
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    background-color: black;
    max-width: 100%;
}

.navbar > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*Hero section*/
.hero{
    max-width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/hero-image.jpg');
    background-color: #000;
    background-position: center; /* Center the image */
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

div .hero-overlay{
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 193, 236, 0.55);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
}

.hero-button{
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Roboto, comic-sans;
    
}

.parralax{
    width: 100%;
    height: 225px;
    background-image: url('/assets/images/parralax2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.what-we-do{
    max-width: 100%;
    height: 600px;
    border: solid red 2px;
}

/*Testimonials & card section */
.testimonials{
    max-width: 100%;
    min-height: 600px;
}

.card-deck{
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card{
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #fff;
    width: 300px;
    padding-bottom: 10px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

  }

  .card-tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }

  .card-user img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: start;
    margin-left: 20px;
  }

  .card-user{
    display: flex;
    margin-top: auto;
  }

  .card-user-info h5{
    margin: 0;
  }

  .card-user-info h5, .card-user-info small{
    margin-left: 10px;
  }

/* Footer section*/
footer{
    max-width: 100%;
    height: 175px;
    border: solid red 2px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.footer-times-h4{
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 25px;
}

.footer-times{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-table{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
}

.bottom-border{
    border-bottom: white solid 1px;
}

.right-border{
    border-right: white solid 1px;
    padding: 5px;
}

.footer-socials-h4, .footer-address-h4{
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 0;
}

.footer-socials{

    color: white;
    font-size: 30px;
    display: block;
    padding-right: 300px;
}

.footer-socials i{
    padding: 25px;
}

.footer-contact{
    margin: 0;
    padding-right: 15px;
}


/*Media queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        max-width: 600px;
    }
    .navbar{
        width: 600px;
    }
    .card-deck{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    footer{
        height: auto;
        text-align: center;
    }
    .footer-socials{
        padding-right: 0;
        padding-bottom: 25px;
    }
}