/*import font from googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300&display=swap');

/*Clear any existing padding & margin from browser*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10vh;
    text-align: center;
    font-family: Roboto, comic-sans;
}

/*Create Line break rule*/
.hr {
    max-width: 60%;
    align-items: center;
    color: black;
}

/*Navigation Bar content, Logo & Links*/
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    background-color: black;
    max-width: 100%;
}

.navbar>a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}


.navbar>a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

/*Hero section*/
.hero {
    max-width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('../images/hero-image.jpg');
    background-color: #000;
    background-position: top center;
    /* Center the image */
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

div .hero-overlay {
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 193, 236, 0.55);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.hero-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Roboto, comic-sans;
}

.hero-button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}


.parralax {
    width: 100%;
    height: 225px;
    background-image: url('../images/parralax2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.what-we-do {
    max-width: 100%;
    height: 600px;
}

.service-h3{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}
/*Home services*/

.home-what-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
}

.services-item{
    border: solid 1px black;
    font-size: 20px;
    margin: 20px;
    width: 12.5%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
    color: white;
    opacity: 1;
}

.services-item>div{
    font-size: 60px;
    padding-top: 15px;
}

/*Testimonials & card section */
.testimonials {
    max-width: 100%;
    min-height: 600px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.card-deck {
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #fff;
    width: 300px;
    padding-bottom: 10px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.card-tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #006d88;
}

.card-user img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.card-user {
    display: flex;
    margin-top: auto;
}

.card-user-info h5 {
    margin: 0;
}

.card-user-info h5,
.card-user-info small {
    margin-left: 10px;
}

/* Footer section*/
footer {
    max-width: 100%;
    min-height: 100px;
    background-color: black;
    color: white;
    padding-bottom: 5px;
}

.services-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
}

.footer-times-h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 15px;
    
}

.footer-times {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-table {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.bottom-border {
    border-bottom: white solid 1px;
}

.right-border {
    border-right: white solid 1px;
    padding: 5px;
}

.footer-socials-h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 15px 0 0 0;
}

.footer-socials {

    color: white;
    font-size: 25px;
    display: block;
}
.footer-socials i:hover{
    cursor: pointer;
    color:#000;
    background-color: white;
    border-radius:50%;
}

.footer-socials i {
    padding: 10px;
}

.footer-contact {
    margin: 0;
}

#footer-h5>a{
    color: white;
}

#footer-h5>a:hover{
    color: blue;
}
/*Contact Page*/

.contact-h1, .contact-h2{
    padding: 35px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.contact-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-form{
    width: 50%;
    height: 100%;
    background-color: #006d88;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

fieldset{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: auto;
}

textarea{
    border-radius: 6px;
    width: 80%;
    margin-left: 10%;

}

input{
    margin: 5px;
    border-radius: 6px;
}

#prefix{
    border-radius: 6px;
}

.contact-small{
    font-size: 10px;
}

.marketing{
    font-size: 15px;
    margin-top: 10px;
}

.form-submit{
    font-size: 16px;
}

/*contact information*/

.contact-h2{
    font-size: 30px;
    font-weight: 600;
}

.contact-map-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 300px;
    max-width: 100%;
    margin-bottom: 5px;
}

.contact-numbers-h3{
    font-size: 36px;
}

.contact-numbers{
    width: 100%;
    min-height: 100%;
}

#map{
    width: 100%;
    min-height: 100%;
}

ul.contact-numbers-list{
    list-style-type:  none;
    padding: 0;
    margin: 30px;
    font-size: 24px;
    font-weight: 600;
}
.contact-numbers-list li{
    margin: 20px;
}

/*About page*/

.hero-about {
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url('../images/about-hero.jpg');
    background-color: #000;
    background-position: center;
    /* Center the image */
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.about-h1{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

/*Portfolio / Gallery Page*/
#portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.portfolio-h1{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.portfolio-image>img{
    width: 320px;
    height: 320px;
    margin: 15px;
    opacity: 1;
    border-radius: 5px;
}

.portfolio-image>img:hover{
    box-shadow: 2px 2px black
}

/*Media queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        max-width: 600px;
    }

    .navbar {
        width: 600px;
    }

    .navbar>a{
        font-size: 16px;
    }
    
    .what-we-do{
        height: 100%;
        padding-bottom: 25px;
    }

    .home-what-container{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        align-items: center;
        min-height: 100%;
    }

    .services-item{
        width: 70%;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
/*Footer Content*/
    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    footer {
        height: auto;
        text-align: center;
    }

    .footer-socials {
        padding-right: 0;
        padding-bottom: 25px;
    }
    .footer-socials-h4{
        padding-top: 15px;
    }

    /*Contact form media query*/
    #issue{
        max-width: 250px;
    }

    .contact-form{
        padding: 0;
        width: 80%;
    }
    .contact-map-section{
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up to 950px) */
@media only screen and (min-width: 600px) and (max-width:950px) {
    .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .home-what-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
    }
    .services-item{
        min-width: 15%;
    }

    .contact-form{
        width: 80%;
    }
}