
/*Clear any existing padding & margin from browser*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

/*Create Line break rule*/
.hr{
    max-width: 60%;
    align-items: center;
    color: black;
}

/*Navigation Bar content, Logo & Links*/
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    background-color: black;
    max-width: 100%;
}

.navbar > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*Hero section*/
.hero{
    max-width: 100%;
    height: 450px;
    border: solid red 2px;
}

.parralax{
    max-width: 100%;
    border: solid blue 2px;
    height: 175px;
}

.what-we-do{
    max-width: 100%;
    height: 600px;
    border: solid red 2px;
}

/*Testimonials & card section */
.testimonials{
    max-width: 100%;
    height: 600px;
    border: solid blue 2px;
}

.card-deck{
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.card{
    height: 350px;
    width: 250px;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 0 8px 30px rgba(8, 39, 150, 0.6);
}

/* Footer section*/
footer{
    max-width: 100%;
    height: 150px;
    border: solid red 2px;
    background-color: black;
    color: white;
}